#footer {
  //   background-color: rgba(28, 114, 108, 0.356);
  //   background-color: #7badabe1;
  background-color: #8dbdbb;
  height: 200px;
  width: 100%;
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
